<%#
 Copyright 2014 Aedan Renner <chipdankly@gmail.com>
 Copyright 2018 Florian Eckert <fe@dev.tdt.de>
 Licensed to the public under the GNU General Public License v2.
-%>

<script type="text/javascript">//<![CDATA[

function secondsToString(time) {
	var seconds = parseInt(time, 10);

	var hrs   = Math.floor(seconds / 3600);
	seconds  -= hrs*3600;
	var mnts = Math.floor(seconds / 60);
	seconds  -= mnts*60;
	return String.format("%sh:%sm:%ss", hrs, mnts, seconds);
}

XHR.poll(-1, '<%=luci.dispatcher.build_url("admin", "status", "mwan", "interface_status")%>', null,
		function(x, status)
		{
			var row_style='2';
			var statusDiv = document.getElementById('mwan_status_text');
			if (status.interfaces)
			{
				var statusview = '<div class="cbi-section" style=""><div class="table"><div class="tr cbi-rowstyle-2"><div class="td left" width="33%"><strong><%:Interface%></strong></div><div class="td left" width="33%"><strong><%:Status%></strong></div><div class="td left" width="33%"><strong><%:Uptime%></strong></div></div>';
				for ( var iface in status.interfaces)
				{
					if (row_style == 2) {
						var row_style = '1';
					} else {
						var row_style = '2';
					}
					var state = '';
					var css = '';
					var time = '';
					switch (status.interfaces[iface].status)
					{
						case 'online':
							state = '<strong><p style="color:green"><b><%:Online%></b></p></strong>';
							time = String.format(
								'<div class="td">%s</div>',
								secondsToString(status.interfaces[iface].online)
							);
							css = 'success';
							break;
						case 'offline':
							state = '<strong><p style="color:red"><b><%:Offline%></b></p></strong>';
							time = String.format(
								'<div class="td">%s</div>',
								secondsToString(status.interfaces[iface].offline)
							);
							css = 'danger';
							break;
						default:
							state = '<strong><p style="color:black"><b><%:Disabled%></b></p></strong>';
							css = 'warning';
							break;
					}
					statusview += String.format(
						'<div class="tr cbi-rowstyle-%s">',
						row_style
					);
					statusview += String.format(
						'<div class="td"><span class="ifacebadge">%s</span></div>',
						iface
					);
					statusview += String.format(
						'<div class="td">%s</div>',
						state
					);
					if (time)
					{
						statusview += time;
					}
					statusview += '</div>'
				}
				statusDiv.innerHTML = statusview;
			}
			else
			{
				statusDiv.innerHTML = '<strong><%:No MWAN interfaces found%></strong>';
			}
		}
	);
//]]></script>


<fieldset id="interface_field" class="cbi-section">
	<legend><%:MWAN Interfaces%></legend>
	<div id="mwan_status_text">
		<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" style="vertical-align:middle" />
		<%:Collecting data...%>
	</div>
</fieldset>
